<html>
    <body>
        <div>
            <h1><%= title %></h1>
            <% for (let i=0; i<messages.length; i++) { %>
                <div>
                    <div><%= messages[i].author %>: <%= messages[i].message %></div>
                    <div>added: <%= messages[i].date %></div>
                </div>
                <br>
            <% } %>
            <a href="<%= link.href%>">
                <span> <%= link.text %> </span>
            </a>
        </div>
    </body>
</html>